<a href="https://colab.research.google.com/github/Kumar-642/Football-Player/blob/main/Football.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Sscrapping

## Extracting Data of Each Player of Manchaster City

In [ ]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd

Defenders of Manchester City:
      
       > Rodri  : https://fbref.com/en/players/6434f10d/all_comps/Rodri-Stats---All-Competitions
       > Manuel Akhanji : https://fbref.com/en/players/89ac64a6/all_comps/Manuel-Akanji-Stats---All-Competitions
       > Ruben Dias : https://fbref.com/en/players/31c69ef1/all_comps/Ruben-Dias-Stats---All-Competitions
       > Nathan Ake : https://fbref.com/en/players/eaeca114/all_comps/Nathan-Ake-Stats---All-Competitions
       > Kyle Walker : https://fbref.com/en/players/86dd77d1/all_comps/Kyle-Walker-Stats---All-Competitions
       > John Stones : https://fbref.com/en/players/5eecec3d/all_comps/John-Stones-Stats---All-Competitions
       > Aymeric Laporte : https://fbref.com/en/players/119b9a8e/all_comps/Aymeric-Laporte-Stats---All-Competitions
       > Rico Lewis : https://fbref.com/en/players/b57e066e/all_comps/Rico-Lewis-Stats---All-Competitions
       > Sergio Gomez : https://fbref.com/en/players/01e5f06e/all_comps/Sergio-Gomez-Stats---All-Competitions
       > Kalvin Phillips : https://fbref.com/en/players/4f565d77/all_comps/Kalvin-Phillips-Stats---All-Competitions
       > Josh Wilson Esbrand : https://fbref.com/en/players/c19a2df1/all_comps/Josh-Wilson-Esbrand-Stats---All-Competitions
       > Luke Mbete Tatu : https://fbref.com/en/players/387e1d35/all_comps/Luke-Mbete-Tatu-Stats---All-Competitions
       > Joao Cancelo : https://fbref.com/en/players/bd6351cd/all_comps/Joao-Cancelo-Stats---All-Competitions

In [ ]:
Defender_Player = {'Rodri'  : 'https://fbref.com/en/players/6434f10d/all_comps/Rodri-Stats---All-Competitions',
        'Manuel Akhanji' : 'https://fbref.com/en/players/89ac64a6/all_comps/Manuel-Akanji-Stats---All-Competitions',
        'Ruben Dias' : 'https://fbref.com/en/players/31c69ef1/all_comps/Ruben-Dias-Stats---All-Competitions',
        'Nathan Ake' : 'https://fbref.com/en/players/eaeca114/all_comps/Nathan-Ake-Stats---All-Competitions',
        'Kyle Walker' : 'https://fbref.com/en/players/86dd77d1/all_comps/Kyle-Walker-Stats---All-Competitions',
        'John Stones' : 'https://fbref.com/en/players/5eecec3d/all_comps/John-Stones-Stats---All-Competitions',
        'Joao Cancelo' : 'https://fbref.com/en/players/bd6351cd/all_comps/Joao-Cancelo-Stats---All-Competitions',
        'Aymeric Laporte' : 'https://fbref.com/en/players/119b9a8e/all_comps/Aymeric-Laporte-Stats---All-Competitions',
        'Rico Lewis' : 'https://fbref.com/en/players/b57e066e/all_comps/Rico-Lewis-Stats---All-Competitions',
        'Sergio Gomez' : 'https://fbref.com/en/players/01e5f06e/all_comps/Sergio-Gomez-Stats---All-Competitions',
        'Kalvin Phillips' : 'https://fbref.com/en/players/4f565d77/all_comps/Kalvin-Phillips-Stats---All-Competitions',
        'Josh Wilson Esbrand' : 'https://fbref.com/en/players/c19a2df1/all_comps/Josh-Wilson-Esbrand-Stats---All-Competitions',
        'Luke Mbete Tatu' : 'https://fbref.com/en/players/387e1d35/all_comps/Luke-Mbete-Tatu-Stats---All-Competitions'
}

In [ ]:
def Stats_of_Player(link):
#r = requests.get("https://fbref.com/en/players/6434f10d/all_comps/Rodri-Stats---All-Competitions")
    r = requests.get(link)
    soup = bs(r.content)
    contents = soup.prettify()
    title_50 = soup.find("tbody")
    rank_50 = title_50.find_all(id='stats')
    rank_50 = title_50.find_all('td')
    l = []
    s = title_50.find_all(class_='center')
    for row in rank_50 :
      n1 = row.text.strip()
      l.append(n1)
    Age = []
    Squad = []
    Matched_Play = []
    Minutes = []
    Goals = []
    Assist = []
    Goals_Assists = []
    Non_Penality_Goals =[]
    Yellow_Card = []
    Red_Card = []
    for i in range(len(l)//34):
      Age.append(l[(34*i)])
      Squad.append(l[(34*i)+1])
      Matched_Play.append(l[(34*i)+4])
      Minutes.append(l[34*i+6])
      Goals.append(l[34*i+8])
      Assist.append(l[34*i+9])
      Goals_Assists.append(l[34*i+10])
      Non_Penality_Goals.append(l[34*i+11])
      Yellow_Card.append(l[34*i+13])
      Red_Card.append(l[34*i+14])
    data = pd.DataFrame({'Age':Age,'Squad':Squad,'Matched_Play':Matched_Play,'Minutes':Minutes,'Goals':Goals,'Assist':Assist,'Goals_Assist':Goals_Assists,'Non_Penality_Goals':Non_Penality_Goals,'Yellow_Card':Yellow_Card,'Red_Card':Red_Card})
    return data

In [ ]:
def Stats_of_Pl(link,numb):
#r = requests.get("https://fbref.com/en/players/6434f10d/all_comps/Rodri-Stats---All-Competitions")
    r = requests.get(link)
    soup = bs(r.content)
    contents = soup.prettify()
    title_50 = soup.find(id="content")
    rank_50 = title_50.find(id="switcher_stats_standard")
    rank = rank_50.find_all(id="stats")
    rankk_50 = rank_50.find_all('td')
    s = title_50.find_all(class_='center')
    l = []
    for row in rankk_50 :
      n1 = row.text.strip()
      l.append(n1)
    Age = []
    Squad = []
    Matched_Play = []
    Minutes = []
    Goals = []
    Assist = []
    Goals_Assists = []
    Non_Penality_Goals =[]
    Yellow_Card = []
    Red_Card = []
    for i in range(len(l)//34):
      Age.append(l[(34*i)])
      Squad.append(l[(34*i)+1])
      Matched_Play.append(l[(34*i)+4])
      Minutes.append(l[34*i+6])
      Goals.append(l[34*i+8])
      Assist.append(l[34*i+9])
      Goals_Assists.append(l[34*i+10])
      Non_Penality_Goals.append(l[34*i+11])
      Yellow_Card.append(l[34*i+13])
      Red_Card.append(l[34*i+14])
    row = numb
    data = pd.DataFrame({'Age':Age[:row],'Squad':Squad[:row],'Matched_Play':Matched_Play[:row],'Minutes':Minutes[:row],'Goals':Goals[:row],'Assist':Assist[:row],'Goals_Assist':Goals_Assists[:row],'Non_Penality_Goals':Non_Penality_Goals[:row],'Yellow_Card':Yellow_Card[:row],'Red_Card':Red_Card[:row]})
    return data

## 1. Rodri

In [ ]:
data1 = Stats_of_Player(Defender_Player['Rodri']);

## 2. Manuel Akhanji

In [ ]:
data2 = Stats_of_Pl("https://fbref.com/en/players/89ac64a6/all_comps/Manuel-Akanji-Stats---All-Competitions",26);

## 3. Ruben Dias

In [ ]:

data3 = Stats_of_Player(Defender_Player['Ruben Dias']);

## 4. Nathan Ake

In [ ]:
data4 = Stats_of_Pl("https://fbref.com/en/players/eaeca114/all_comps/Nathan-Ake-Stats---All-Competitions",38);

## 5. Kyle Walker

In [ ]:
data5 =Stats_of_Pl('https://fbref.com/en/players/86dd77d1/all_comps/Kyle-Walker-Stats---All-Competitions',51);

## 6. John Stones

In [ ]:
data6 = Stats_of_Pl('https://fbref.com/en/players/5eecec3d/all_comps/John-Stones-Stats---All-Competitions',40);

## 7.Aymeric Laporte

In [ ]:
data7 = Stats_of_Pl('https://fbref.com/en/players/119b9a8e/all_comps/Aymeric-Laporte-Stats---All-Competitions',39);

## 8. Rico Lewis

In [ ]:
data8 = Stats_of_Pl('https://fbref.com/en/players/b57e066e/all_comps/Rico-Lewis-Stats---All-Competitions',6);

## 9.Sergio Gomez

In [ ]:
data9 = Stats_of_Pl('https://fbref.com/en/players/01e5f06e/all_comps/Sergio-Gomez-Stats---All-Competitions',14);

## 10. Kalvin Phillips

In [ ]:
data10 = Stats_of_Pl('https://fbref.com/en/players/4f565d77/all_comps/Kalvin-Phillips-Stats---All-Competitions',14);

## 11.Josh Wilson Esbrand

In [ ]:
data11 = Stats_of_Pl('https://fbref.com/en/players/c19a2df1/all_comps/Josh-Wilson-Esbrand-Stats---All-Competitions',11);

## 12.Luke Mbete Tatu

In [ ]:
data12 = Stats_of_Pl('https://fbref.com/en/players/387e1d35/all_comps/Luke-Mbete-Tatu-Stats---All-Competitions',14);

## 13. Joao Cancelo

In [ ]:
data13 = Stats_of_Pl('https://fbref.com/en/players/bd6351cd/all_comps/Joao-Cancelo-Stats---All-Competitions',37);

### Statistical Summary of Manchester Defenders

In [ ]:
def Data(df):
    df =df.mask(df == '')
    df = df.fillna(0)
    df['Minutes'] = df['Minutes'].str.replace(r',','')
    df = df.fillna(0)
    df[['Age', 'Matched_Play']] = df[['Age', 'Matched_Play']].astype(str).astype(int)
    df['Minutes'] = df['Minutes'].astype(str).astype(int)
    converting = {'Age':int,'Squad':str,'Matched_Play':int,'Minutes':int,'Goals':int,'Assist':int,'Goals_Assist':int,'Non_Penality_Goals':int,'Yellow_Card':int,'Red_Card':int}
    df = df.astype(converting)
    Player = df.drop(['Squad','Age'],axis=1)
    return Player

In [ ]:
Player1 = Data(data1)
Player1.sum(axis=0)

Matched_Play            336
Minutes               25195
Goals                    21
Assist                   22
Goals_Assist             43
Non_Penality_Goals       20
Yellow_Card               1
Red_Card                 53
dtype: int64

In [ ]:
Player2 = Data(data2)
Player2.sum(axis=0)

Matched_Play            253
Minutes               21157
Goals                    10
Assist                    5
Goals_Assist             15
Non_Penality_Goals       10
Yellow_Card               0
Red_Card                 25
dtype: int64

In [ ]:
Player3 = Data(data3)
Player3.sum(axis=0)

Matched_Play            243
Minutes               20950
Goals                    15
Assist                    8
Goals_Assist             23
Non_Penality_Goals       15
Yellow_Card               0
Red_Card                 43
dtype: int64

In [ ]:
Player4 = Data(data4)
Player4.sum(axis=0)

Matched_Play            249
Minutes               19552
Goals                    19
Assist                    7
Goals_Assist             26
Non_Penality_Goals       19
Yellow_Card               0
Red_Card                 25
dtype: int64

In [ ]:
Player5 = Data(data5)
Player5.sum(axis=0)

Matched_Play            538
Minutes               45244
Goals                    11
Assist                   40
Goals_Assist             51
Non_Penality_Goals       11
Yellow_Card               0
Red_Card                 77
dtype: int64

In [ ]:
Player6 = Data(data6)
Player6.sum(axis=0)

Matched_Play            339
Minutes               26303
Goals                    16
Assist                    5
Goals_Assist             21
Non_Penality_Goals       16
Yellow_Card               0
Red_Card                 12
dtype: int64

In [ ]:
Player7 = Data(data7)
Player7.sum(axis=0)

Matched_Play            372
Minutes               31757
Goals                    21
Assist                    6
Goals_Assist             27
Non_Penality_Goals       21
Yellow_Card               0
Red_Card                 77
dtype: int64

In [ ]:
Player8 = Data(data8)
Player8.sum(axis=0)

Matched_Play            31
Minutes               1921
Goals                    2
Assist                   2
Goals_Assist             4
Non_Penality_Goals       2
Yellow_Card              0
Red_Card                 1
dtype: int64

In [ ]:
Player9 = Data(data9)
Player9.sum(axis=0)

Matched_Play           134
Minutes               7217
Goals                    6
Assist                  17
Goals_Assist            23
Non_Penality_Goals       3
Yellow_Card              3
Red_Card                 6
dtype: int64

In [ ]:
Player10 = Data(data10)
Player10.sum(axis=0)

Matched_Play            176
Minutes               13397
Goals                    12
Assist                    9
Goals_Assist             21
Non_Penality_Goals       12
Yellow_Card               0
Red_Card                 39
dtype: int64

In [ ]:
Player11 = Data(data11)
Player11.sum(axis=0)

Matched_Play            40
Minutes               2417
Goals                    1
Assist                   3
Goals_Assist             4
Non_Penality_Goals       1
Yellow_Card              0
Red_Card                 5
dtype: int64

In [ ]:
Player12 = Data(data12)
Player12.sum(axis=0)

Matched_Play            49
Minutes               3632
Goals                    1
Assist                   1
Goals_Assist             2
Non_Penality_Goals       1
Yellow_Card              0
Red_Card                 7
dtype: int64

In [ ]:
Player13 = Data(data13)
Player13.sum(axis=0)

Matched_Play            329
Minutes               24631
Goals                    16
Assist                   42
Goals_Assist             58
Non_Penality_Goals       16
Yellow_Card               0
Red_Card                 62
dtype: int64

## Out of all these we select 5 best defenders
        > we take five factors for selection
               1. Rate of Goals per match
               2. Less Number of Red Cards and Yellow cards
               3. Minutes
               4. Rate of Goals_Assists per match
               5. Rate of Assists per Match
               6. Total amount of minutes he played overall

In [ ]:
Combine = pd.DataFrame({'player 1':Player1.sum(axis=0),'player 2':Player2.sum(axis=0),'player 3':Player3.sum(axis=0),'player 4':Player4.sum(axis=0),'player 5':Player5.sum(axis=0),'player 6':Player6.sum(axis=0),'player 7':Player7.sum(axis=0),'player 8':Player8.sum(axis=0),'player 9':Player9.sum(axis=0),'player 10':Player10.sum(axis=0),'player 11':Player11.sum(axis=0),'player 12':Player12.sum(axis=0),'player 13':Player13.sum(axis=0)})

In [ ]:
Combine

,player 1,player 2,player 3,player 4,player 5,player 6,player 7,player 8,player 9,player 10,player 11,player 12,player 13
Matched_Play,336,253,243,249,538,339,372,31,134,176,40,49,329
Minutes,25195,21157,20950,19552,45244,26303,31757,1921,7217,13397,2417,3632,24631
Goals,21,10,15,19,11,16,21,2,6,12,1,1,16
Assist,22,5,8,7,40,5,6,2,17,9,3,1,42
Goals_Assist,43,15,23,26,51,21,27,4,23,21,4,2,58
Non_Penality_Goals,20,10,15,19,11,16,21,2,3,12,1,1,16
Yellow_Card,1,0,0,0,0,0,0,0,3,0,0,0,0
Red_Card,53,25,43,25,77,12,77,1,6,39,5,7,62

In [ ]:
Combined = Combine.T
Combined = Combined[Combined['Matched_Play'] > 200]

In [ ]:
Combined

,Matched_Play,Minutes,Goals,Assist,Goals_Assist,Non_Penality_Goals,Yellow_Card,Red_Card
player 1,336,25195,21,22,43,20,1,53
player 2,253,21157,10,5,15,10,0,25
player 3,243,20950,15,8,23,15,0,43
player 4,249,19552,19,7,26,19,0,25
player 5,538,45244,11,40,51,11,0,77
player 6,339,26303,16,5,21,16,0,12
player 7,372,31757,21,6,27,21,0,77
player 13,329,24631,16,42,58,16,0,62

### To find the rate for each match we divide every factor of individiual player by  number of match played by that player

In [ ]:
Combined = pd.DataFrame({'player 1':Player1.sum(axis=0)/(Combine['player 1'][0]),'player 2':Player2.sum(axis=0)/(Combine['player 2'][0]),'player 3':Player3.sum(axis=0)/(Combine['player 3'][0]),'player 4':Player4.sum(axis=0)/(Combine['player 4'][0]),'player 5':Player5.sum(axis=0)/(Combine['player 5'][0]),'player 6':Player6.sum(axis=0)/(Combine['player 6'][0]),'player 7':Player7.sum(axis=0)/Combine['player 7'][0],'player13':Player13.sum(axis=0)/Combine['player 13'][0]})

In [ ]:
Combined

,player 1,player 2,player 3,player 4,player 5,player 6,player 7,player13
Matched_Play,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
Minutes,74.985119,83.624506,86.213992,78.522088,84.096654,77.589971,85.368280,74.866261
Goals,0.062500,0.039526,0.061728,0.076305,0.020446,0.047198,0.056452,0.048632
Assist,0.065476,0.019763,0.032922,0.028112,0.074349,0.014749,0.016129,0.127660
Goals_Assist,0.127976,0.059289,0.094650,0.104418,0.094796,0.061947,0.072581,0.176292
Non_Penality_Goals,0.059524,0.039526,0.061728,0.076305,0.020446,0.047198,0.056452,0.048632
Yellow_Card,0.002976,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
Red_Card,0.157738,0.098814,0.176955,0.100402,0.143123,0.035398,0.206989,0.188450

### There are total 12 defenders out of these we choose 4 defenders
      > we select those player for which Goals per match is greater than 0.05

In [ ]:
Final = Combined.T

rslt_df = Final[Final['Goals'] > 0.05]

In [ ]:
rslt_df

,Matched_Play,Minutes,Goals,Assist,Goals_Assist,Non_Penality_Goals,Yellow_Card,Red_Card
player 1,1.0,74.985119,0.062500,0.065476,0.127976,0.059524,0.002976,0.157738
player 3,1.0,86.213992,0.061728,0.032922,0.094650,0.061728,0.000000,0.176955
player 4,1.0,78.522088,0.076305,0.028112,0.104418,0.076305,0.000000,0.100402
player 7,1.0,85.368280,0.056452,0.016129,0.072581,0.056452,0.000000,0.206989

### We add a column : *total_contribute* = Non_Penality_Goals+Assist+Goals_Assist

 Now we remove those Players which have lowest:
               
                > Non_Penality_Goals+Assist+Goals_Assist

In [ ]:
rslt_df['Total_contribute'] = rslt_df['Non_Penality_Goals']+rslt_df['Assist']+rslt_df['Goals_Assist']

<ipython-input-40-5cadc9842058>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rslt_df['Total_contribute'] = rslt_df['Non_Penality_Goals']+rslt_df['Assist']+rslt_df['Goals_Assist']

In [ ]:
rslt_df

,Matched_Play,Minutes,Goals,Assist,Goals_Assist,Non_Penality_Goals,Yellow_Card,Red_Card,Total_contribute
player 1,1.0,74.985119,0.062500,0.065476,0.127976,0.059524,0.002976,0.157738,0.252976
player 3,1.0,86.213992,0.061728,0.032922,0.094650,0.061728,0.000000,0.176955,0.189300
player 4,1.0,78.522088,0.076305,0.028112,0.104418,0.076305,0.000000,0.100402,0.208835
player 7,1.0,85.368280,0.056452,0.016129,0.072581,0.056452,0.000000,0.206989,0.145161

In [ ]:
rslt_df = rslt_df.sort_values('Total_contribute')

In [ ]:
rslt_df

,Matched_Play,Minutes,Goals,Assist,Goals_Assist,Non_Penality_Goals,Yellow_Card,Red_Card,Total_contribute
player 7,1.0,85.368280,0.056452,0.016129,0.072581,0.056452,0.000000,0.206989,0.145161
player 3,1.0,86.213992,0.061728,0.032922,0.094650,0.061728,0.000000,0.176955,0.189300
player 4,1.0,78.522088,0.076305,0.028112,0.104418,0.076305,0.000000,0.100402,0.208835
player 1,1.0,74.985119,0.062500,0.065476,0.127976,0.059524,0.002976,0.157738,0.252976

## Conclusion
          the best four defender for Manchester city:
                  > Aymeric Laporte
                  > Ruben Dias
                  > Nathan Ake
                  > Rodri

### Goal Keeper for Manchester City

            1. Ederson
            2. Stefan Ortega
            3. Scott Carson

In [ ]:
def Goal_Keeper_Stats(link,numb):
    r = requests.get(link)
    soup = bs(r.content)
    contents = soup.prettify()
    title_50 = soup.find(id="content")
    rank_50 = title_50.find(id="switcher_stats_keeper")
    rank = rank_50.find_all(id="stats")
    rankk_50 = rank_50.find_all('td')
    s = rank_50.find_all(class_='right')
    l = []
    for row in s :
      n1 = row.text.strip()
      if n1=='':
        n1 = 0
      l.append(n1)
    Percentage_Goal_saved = []
    Total_Goal_Against = []
    Total_Save_Goal = []
    for i in range(len(l)//19):
      Total_Goal_Against.append(l[19*i+6])
      Total_Save_Goal.append(l[19*i+7])
      Percentage_Goal_saved.append(l[19*i+8])
    row = numb
    data = pd.DataFrame({'Total_Goal_Against':Total_Goal_Against[:row],'Total_Save_Goal':Total_Save_Goal[:row],'Percentage_Goal_saved':Percentage_Goal_saved[:row]})
    return data

## 1. Ederson

In [ ]:
gk_1 = Goal_Keeper_Stats('https://fbref.com/en/players/3bb7b8b4/all_comps/Ederson-Stats---All-Competitions',26)

## 2. Stefan Ortega

In [ ]:
gk_2 = Goal_Keeper_Stats('https://fbref.com/en/players/c1242d4e/all_comps/Stefan-Ortega-Stats---All-Competitions',22)

# 3.Scott Carson

In [ ]:
gk_3 = Goal_Keeper_Stats('https://fbref.com/en/players/3e1550ee/all_comps/Scott-Carson-Stats---All-Competitions',25)

## Statisticals Summary of Manchester GoalKeeper

In [ ]:
def data_2(data):
  data[['Percentage_Goal_saved']] = data[['Percentage_Goal_saved']].astype(str).astype(float)
  converting = {'Total_Goal_Against':int,'Total_Save_Goal':int}
  data = data.astype(converting)
  #Average_Saved = sum(data['Percentage_Goal_saved'])/len(data['Percentage_Goal_saved'])
  return data

## GoalKeeper 1

In [ ]:
G_K_1 = data_2(gk_1)
G_K_1

    Total_Goal_Against  Total_Save_Goal  Percentage_Goal_saved
0                    7                5                   71.4
1                   76               53                   69.7
2                   16               12                   75.0
3                   65               47                   72.3
4                   20               16                   80.0
5                   18               14                   77.8
6                   34               24                   73.5
7                   73               56                   78.1
8                   33               22                   75.8
9                   80               54                   67.5
10                  33               21                   72.7
11                   0                0                    0.0
12                   9                7                   77.8
13                  81               58                   76.5
14                  23               16                   73.9
15                   4                2                   50.0
16                  95               68                   73.7
17                  22               17                   77.3
18                  93               65                   77.4
19                  28               15                   57.1
20                   3                3                  100.0
21                  83               57                   69.9
22                  26               22                   88.5
23                   3                1                   33.3
24                   0                0                    0.0
25                  77               46                   62.3

In [ ]:
G_K_1['Percentage_Goal_saved'].mean()

66.59615384615384

# GoalKeeper 2

In [ ]:
G_K_2 = data_2(gk_2)
G_K_2

    Total_Goal_Against  Total_Save_Goal  Percentage_Goal_saved
0                   88               60                   68.2
1                    6                5                   83.3
2                   62               44                   71.0
3                   71               47                   66.2
4                    0                0                    0.0
5                   61               42                   68.9
6                    0                0                    0.0
7                   79               53                   72.2
8                   11                9                   81.8
9                  160              113                   71.9
10                  10                7                   70.0
11                 133               90                   67.7
12                 126              100                   78.6
13                  11                8                   72.7
14                 170              118                   72.4
15                   3                2                   66.7
16                 176              125                   73.9
17                  14                8                   57.1
18                   6                5                   83.3
19                  11                7                   63.6
20                   8                8                  100.0
21                  15               14                   93.3

In [ ]:
G_K_3 = data_2(gk_3)
G_K_3

    Total_Goal_Against  Total_Save_Goal  Percentage_Goal_saved
0                   13               10                   76.9
1                    7                6                   85.7
2                   20               17                   85.0
3                   44               39                   88.6
4                  233              178                   76.4
5                  156              110                   70.5
6                  211              147                   69.7
7                  206              161                   78.2
8                  151               93                   61.6
9                  124               92                   74.2
10                 114               81                   71.1
11                  62               40                   64.5
12                  16               12                   75.0
13                 119               75                   63.0
14                 114               82                   71.9
15                   0                0                    0.0
16                 177              127                   72.9
17                   6                5                   83.3
18                   0                0                    0.0
19                 145               97                   69.7
20                  10                8                   80.0
21                 108               70                   63.9
22                  14                9                   64.3
23                   5                1                   60.0
24                   1                1                  100.0

## Selecting Best Goal_Keeper

In [ ]:
Combine = pd.DataFrame({'Goal_Keeper_1':G_K_1.sum(axis=0),'Goal_Keeper_2':G_K_2.sum(axis=0),'Goal_Keeper_3':G_K_3.sum(axis=0)})

In [ ]:
Combine

                       Goal_Keeper_1  Goal_Keeper_2  Goal_Keeper_3
Total_Goal_Against            1002.0         1221.0         2056.0
Total_Save_Goal                701.0          865.0         1461.0
Percentage_Goal_saved         1731.5         1482.8         1706.4

In [ ]:
Combine = Combine.T

In [ ]:
Combine['Percentage_Goal_saved']  =  (Combine['Total_Save_Goal']/Combine['Total_Goal_Against'])*100

In [ ]:
Combine

               Total_Goal_Against  Total_Save_Goal  Percentage_Goal_saved
Goal_Keeper_1              1002.0            701.0              69.960080
Goal_Keeper_2              1221.0            865.0              70.843571
Goal_Keeper_3              2056.0           1461.0              71.060311

Sine all the players have approximately same percentage of saved of goal , so we do not choose on this way

Now , we see which player have good record while playing with manchester city and having highest number of match played for manchester city

For Manchester :

    Ederson : 288 matched play
    Stefan Ortega : 13 matched play
    Scott Carson : 2 matched Play

Conclusion:

      Out of all Goal keeper Ederson played more matches for Manchester city than Other player.

      So , For Manchester the best Goal_Keeper can be Ederson